@import "../../../assets/scss/variable.scss";
.login-wrapper {
  display: flex;
  min-height: 100vh;
  .login-left-block {
    max-width: calc(100% - 667px);
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(100% - 667px);
    background: url("../../../assets/images/login-bg.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    padding: 170px 20px 170px 100px;
    .logo {
      position: absolute;
      top: 100px;
      left: 100px;
    }
    .content-block {
      color: $white;
      max-width: 562px;
      width: 100%;
      p {
        max-width: 500px;
        width: 100%;
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 64px;
      }
      .btn-outlined-white {
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.18);
      }
    }
  }
  .login-right-block {
    width: 667px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 667px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    .login-card {
      max-width: 362px;
      width: 100%;
      h3 {
        font-weight: 500;
        position: relative;
        padding-bottom: 0;
        color: $textDark;
        margin-bottom: 68px;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          height: 3px;
          width: 37px;
          background-color: $primary;
        }
      }
      h5 {
        color: $textDark;
        font-weight: 500;
        padding-bottom: 4px;
      }
      p {
        color: $textDarkGrey;
        padding-bottom: 22px;
        font-size: 16px;
      }
      .username-field {
        margin-bottom: 24px;
      }
      .action-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        padding: 11px 0;
        a {
          color: $linkGrey;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            height: 1px;
            width: 0;
            transition: all 0.3s;
            background-color: $primary;
          }
          &:hover,
          &:focus {
            color: $primary;
            &::before {
              width: 100%;
            }
          }
        }
      }
      .mdc-button--unelevated {
        width: 120px;
        margin-bottom: 24px;
      }
      .sign-up-text {
        font-size: 15px;
        line-height: 20px;
        padding-bottom: 0;
        color: $linkGrey;
        .primary-link {
          font-weight: 600;
        }
      }
    }
  }
}
// Responsive Media Querie
@media (max-width: 1399px) {
  .login-wrapper {
    .login-left-block {
      padding-top: 100px;
      padding-bottom: 100px;
      padding-left: 40px;
      .content-block {
        p {
          padding-bottom: 40px;
        }
      }
      h1 {
        font-size: 40px;
        line-height: 48px;
      }
      .logo {
        top: 40px;
        left: 40px;
      }
    }
    .login-right-block {
      .login-card {
        h3 {
          margin-bottom: 34px;
        }
      }
    }
  }
}
@media (max-width: 1199px) {
  .login-wrapper {
    .login-left-block {
      max-width: calc(100% - 460px);
      flex-basis: calc(100% - 460px);
    }
    .login-right-block {
      width: 460px;
      flex-basis: 460px;
    }
  }
}
@media (max-width: 991px) {
  .login-wrapper {
    .login-left-block {
      display: none;
    }
    .login-right-block {
      width: 100%;
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
}
