$white: #ffffff;
$white-100: #fefefe;
$white-200: #e1e1e1;
$black: #000000;
$textDark: #333333;
$textDarkGrey: #5f5f5f;
$textDarkGrey1: #404040;
$placeholder: #666666;
$linkGrey: #acacac;
$light-600: #f5f5f5;
$primary: #8d75be;
$primaryDark: #7d5ebd;
$primary-950: #eeeaf5;
$yellow-950: #fff6e8;
$blue-950: #ecf0fe;
$green-950: #e5ffe8;
$purple-950: #f3eaff;
$success-text: #5acb48;
$success-dark: #16a085;
$yellow-light: #f4d03f;
$status-active: #99c53c;
$status-inactive: #f9b300;
$alert-success-text: #199904;
$alert-success-outline: #199904;
$alert-info-text: #3094cc;
$alert-info-outline: #5ac4ff;
$alert-warning-text: #cd970a;
$alert-warning-outline: #edad0a;
$alert-error-text: #f62f2f;
$alert-error-outline: #ff5555;
$scrollThumb: #e4e4e4;
$mdHeading: #2c2c2c;
$textFieldOutlin: #cdcdcd;
